<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="container-fluid bg-secondary-subtle min-vh-100">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 min-vh-100 bg-body">

            <!-- Heading -->
            <div th:insert="~{fragments/heading.html}" th:with="user=${user}" class="row mt-3"></div>

            <hr>

            <div th:if="${param.section} and ${param.added}" class="alert alert-info">
                The section has been successfully created.
            </div>
            <div th:if="${param.section} and ${param.deleted}" class="alert alert-info">
                The section has been successfully deleted.
            </div>
            <div th:if="${param.section} and ${param.updated}" class="alert alert-info">
                The section has been successfully updated.
            </div>

            <div th:if="${param.post} and ${param.deleted}" class="alert alert-info">
                The post has been successfully deleted.
            </div>
            <div th:if="${param.test} and ${param.deleted}" class="alert alert-info">
                The test has been successfully deleted.
            </div>

            <div th:if="${param.enrolled}" class="alert alert-info">
                You have been successfully enrolled to this course.
            </div>
            <div th:if="${param.unrolled}" class="alert alert-info">
                You have been successfully unrolled from this course.
            </div>

            <!-- Inner container -->
            <div class="container-fluid d-flex flex-column justify-content-center">
                <!-- Image div -->
                <div class="mb-3 d-flex justify-content-center" style="height: 300px; overflow: hidden;">
                    <img class="card-img-top w-100" style="object-fit: cover; height: 100%;" src="https://minfin.com.ua/img/2024/131540542/efca88826f28e64a4ea3c4b334109920.jpeg" alt="Default Course Image">
                </div>

                <!-- Info section -->
                <div class="p-4 rounded position-relative">
                    <div class="rounded d-flex justify-content-between align-items-top flex-wrap">
                        <div class="m-0 p-0">
                            <h2 class="display-6 fw-semibold text-start mb-4" th:text="${course.name}"></h2>
                        </div>
                        <div class="w-100 d-flex flex-column justify-content-start gap-3 mb-4" th:if="${isAdmin || isOwner}">
                            <div class="d-flex justify-content-end position-absolute top-0 end-0 m-2 p-4">
                                <button class="btn btn-secondary" onclick="toggleSettings()">Settings <i class="fa-solid fa-gear" style="font-size: 1.2rem;" aria-hidden="true"></i></button>
                            </div>
                            <div id="settings-buttons" class="w-100 flex-wrap gap-2 justify-content-end" th:if="${isAdmin || isOwner}" style="display:none;">
                                <a class="btn btn-success" th:href="@{'/course/' + ${course.uuid} + '/enrolledStudents'}">Enrolled Students</a>
                                <a class="btn btn-primary" th:href="@{'/course/' + ${course.uuid} + '/edit'}">Edit Course</a>
                                <form th:action="'/course/' + ${course.uuid} + '/delete'" method="POST" style="display: inline;">
                                    <button class="btn btn-danger">Delete Course</button>
                                </form>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-start" th:if="${isStudent}">
                            <a th:unless="${isEnrolled}" class="btn btn-success" th:href="@{'/course/' + ${course.uuid} + '/enroll'}">Enroll</a>
                            <a th:if="${isEnrolled}" class="btn btn-danger" th:href="@{'/course/' + ${course.uuid} + '/unroll'}">Unroll</a>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="fs-3 fw-semibold text-start me-2">Owner:</label>
                        <a style="cursor: pointer; text-decoration: none; color: cornflowerblue" th:href="@{'/user/' + ${course.teacher.uuid}}">
                            <span th:text="${course.teacher.username}" class="fs-3 fw-normal link-primary text-start"></span>
                        </a>
                    </div>
                    <div class="mb-4">
                        <label class="fs-4 fw-semibold text-start me-2">Created:</label>
                        <label class="fs-4 fw-normal text-start" th:if="${isAdmin}" th:text="${#temporals.format(course.createdAt, 'yyyy-MM-dd HH:mm')}"></label>
                        <label class="fs-4 fw-normal text-start" th:unless="${isAdmin}" th:text="${#temporals.format(course.createdAt, 'dd-MM-yyyy')}"></label>
                    </div>
                    <div>
                        <label class="fs-4 fw-semibold text-start mb-2">About Course:</label>
                        <p class="fs-4 fw-normal text-start d-block mb-0" th:text="${course.description}"></p>
                    </div>
                </div>

                <div class="rounded p-4">
                    <div>
                        <label class="fs-2 fw-semibold text-start mb-4">Course Content:</label>
                    </div>
                    <div id="sections-container" class="d-flex flex-column gap-4">
                        <div class="course-section rounded border" th:each="section : ${course.sections}">
                            <div class="section-name rounded align-content-center p-3" style="cursor: pointer;background: #e5ebf8; min-height: fit-content;" onclick="toggleContent(this)">
                                <h3 class="fs-4 fw-normal text-start m-0" th:text="${section.name}"></h3>
                            </div>
                            <div class="section-content p-4" style="display: none">
                                <p class="fs-5 text-start mb-3 mt-3" th:if="${section.description != null}" th:text="${section.description}"></p>
                                <div class="align-content-center" th:each="post : ${section.posts}">
                                    <div class="d-flex justify-content-between" th:if="${isOwner || isAdmin || !post.hidden}">
                                        <h4 class="fs-4 text-start" th:unless="${isEnrolled || isAdmin || isOwner}" th:text="${post.name}"></h4>
                                        <a class="fs-4 text-start" style="cursor: pointer; text-decoration: none;" th:if="${isEnrolled || isOwner || isAdmin}" th:text="${post.name}" th:href="@{'/post/' + ${post.uuid}}"></a>
                                        <div class="d-flex justify-content-end gap-2" th:if="${isAdmin || isOwner}">
                                            <div class="justify-content-end gap-1" style="display: none">
                                                <a class="btn btn-primary" th:href="@{'/post/' + ${post.uuid} + '/edit'}">Edit</a>
                                                <form th:action="'/post/' + ${post.uuid} + '/delete'" method="POST" style="display: inline;">
                                                    <button class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                            <button class="btn btn-secondary" onclick="toggleSectionSettings(this)">Settings <i class="fa-solid fa-gear" style="font-size: 1.2rem;" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="align-content-center" th:each="test : ${section.tests}">
                                    <div class="d-flex justify-content-between" th:if="${isOwner || isAdmin || !test.hidden}">
                                        <h4 class="fs-4 text-start" th:unless="${isEnrolled || isAdmin || isOwner}" th:text="${test.name}"></h4>
                                        <a class="fs-4 text-start" style="cursor: pointer; text-decoration: none;" th:if="${isEnrolled || isOwner || isAdmin}" th:text="${test.name}" th:href="@{'/test/' + ${test.uuid}}"></a>
                                        <div class="d-flex justify-content-end gap-2" th:if="${isAdmin || isOwner}">
                                            <div class="justify-content-end gap-1" style="display: none">
                                                <form th:action="'/test/' + ${test.uuid} + '/delete'" method="POST" style="display: inline;">
                                                    <button class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                            <button class="btn btn-secondary" onclick="toggleSectionSettings(this)">Settings <i class="fa-solid fa-gear" style="font-size: 1.2rem;" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="d-flex justify-content-between  align-items-center flex-wrap gap-3">
                                    <div class="d-flex gap-2 align-content-center" th:if="${isOwner}">
                                        <a class="btn btn-success" th:href="@{'/section/' + ${section.uuid} + '/create-post'}">Add New Post</a>
                                        <a class="btn btn-success" th:href="@{'/section/' + ${section.uuid} + '/create-test'}">Add New Test</a>
                                    </div>
                                    <div class="d-flex justify-content-end gap-2" th:if="${isAdmin || isOwner}">
                                        <div class="justify-content-end gap-1" style="display: none">
                                            <a class="btn btn-primary" th:href="@{'/section/' + ${section.uuid} + '/edit'}">Edit Section</a>
                                            <form th:action="'/section/' + ${section.uuid} + '/delete'" method="POST" style="display: inline;">
                                                <button class="btn btn-danger">Delete Section</button>
                                            </form>
                                        </div>
                                        <button class="btn btn-secondary" onclick="toggleSectionSettings(this)">Settings <i class="fa-solid fa-gear" style="font-size: 1.2rem;" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${isOwner}">
                            <a class="btn btn-success" th:href="@{'/course/' + ${course.uuid} + '/addSection'}">Add New Section</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/2fd05f79b4.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="/scripts/course.js"></script>
</body>
</html>
