<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid bg-secondary-subtle min-vh-100">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 min-vh-100 bg-body">

            <!-- Heading -->
            <div th:insert="~{fragments/heading.html}" th:with="user=${user}" class="row mt-3"></div>

            <hr>

            <!-- Inner container -->
            <div class="container-fluid">

                <div class="card shadow-sm mb-3 position-relative">

                    <div class="d-flex position-absolute mt-3 me-3 top-0 end-0" th:if="${isOwner or user.role.name() == 'ADMIN'}">
                        <form th:action="@{/test/{testId}/hide(testId=${test.uuid})}"
                              method="post"
                        >
                            <button type="submit" class="btn btn-secondary mx-1" th:if="${!test.isHidden}"><i class="fa-solid fa-eye"></i></button>
                        </form>
                        <form th:action="@{/test/{testId}/unhide(testId=${test.uuid})}"
                              method="post"
                        >
                            <button type="submit" class="btn btn-secondary mx-1" th:if="${test.isHidden}"><i class="fa-solid fa-eye-slash"></i></button>
                        </form>

                        <button th:attr="data-url='/test/' + ${test.uuid} + '/edit'"
                                onclick="visitLink(this)"
                                class="btn btn-primary mx-1"
                        ><i class="fa-solid fa-pen"></i></button>

                        <form th:action="@{/test/{testId}/delete(testId=${test.uuid})}"
                              method="post"
                        >
                            <button type="submit" class="btn btn-danger mx-1"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title" th:text="${test.name}">Test Name</h5>

                        <p class="card-text text-muted" th:text="${test.description}">Test Description</p>

                        <p class="card-text">
                            <strong>Created At:</strong>
                            <span th:text="${#temporals.format(test.createdAt, 'dd MMM yyyy HH:mm')}">01 Jan 2023 10:00</span>
                        </p>

                        <p class="card-text" th:if="${test.isHidden}">
                            <span class="badge bg-warning text-dark">Hidden</span>
                        </p>

                        <!-- Start Test Button -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <span th:if="${isOwner}" class="text-success">
                                    <strong>You are the owner of this test.</strong>
                                </span>
                                <span th:if="${!isOwner && !canTakeAttempt}" class="text-danger">
                                    <strong>You do not have permission to take this test.</strong>
                                </span>
                            </div>
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    th:disabled="${!canTakeAttempt}"
                                    th:attr="data-url='/test/' + ${test.uuid} + '/start'"
                                    onclick="visitLink(this)">
                                Start Test
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <span>
                                <span class="fs-4 bold me-1">Questions</span>
                                <span class="text-body-secondary fs-6" th:text="${#lists.size(test.questions)}">a lot</span>
                            </span>
                            <button
                                    th:if="${isOwner or user.role.name() == 'ADMIN'}"
                                    class="btn btn-primary"
                                    th:attr="data-url='/test/' + ${test.uuid} + '/manage-questions'"
                                    onclick="visitLink(this)"
                            ><i class="fa-solid fa-pen"></i></button>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" th:if="${isOwner or user.role.name() == 'ADMIN'}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <span class="fs-4 bold me-1">All Attempts</span>
                            <button
                                    class="btn btn-primary"
                                    th:attr="data-url='/test/' + ${test.uuid} + '/all-attempts'"
                                    onclick="visitLink(this)"
                            ><i class="fa-solid fa-eye"></i></button>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" th:if="${!isOwner}">
                    <div class="card-body">
                        <div>
                            <span class="fs-4 bold me-1">My Attempts</span>
                            <span class="text-body-secondary fs-6" th:text="${#lists.size(myAttempts)}">not a lot</span>
                        </div>
                        <hr>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="attempt, iterStat : ${myAttempts}">
                                <td th:text="${iterStat.count}">1</td>
                                <td th:text="${#temporals.format(attempt.startTime, 'dd MMM yyyy HH:mm')}">01 Jan 2023 10:00</td>
                                <td th:text="${#temporals.format(attempt.endTime, 'dd MMM yyyy HH:mm')}" th:if="${attempt.endTime != null}">
                                    01 Jan 2023 11:00
                                </td>
                                <td th:if="${attempt.endTime == null}">
                                    In Progress
                                </td>
                                <td th:text="${attempt.submitted ? 'Submitted' : 'Not Submitted'}"></td>
                                <td>
                                    <button
                                            class="btn btn-primary btn-sm"
                                            th:disabled="${!attempt.submitted}"
                                            th:attr="data-url='/attempts/' + ${attempt.uuid} + '/view'"
                                            onclick="visitLink(this)">
                                        View
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <script src="https://kit.fontawesome.com/2fd05f79b4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="/scripts/test-info.js"></script>
</body>
</html>
